@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
}

/* Fonte*/
body {
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
    background: #f4f6f8;
    color: #333;
    line-height: 1.6;
    min-height: 100hv;
    display: flex;
    flex-direction: column;
}

/* Menu topo */
.menu_topo {
    background-color: #000000;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
}

.topo_espaco figure img {
    height: 70px;
}

.topo_esq {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
}

.pesquisa_meio {
    display: flex;
    align-items: center;
    margin: 10px 0;
    flex-grow: 1;
    max-width: 350px;
}

.pesquisa_meio input{
    flex-grow: 1;
    padding: 7px 10px;
    border: none;
    border-radius: 3px 0 0 3px;
    font-size: 10px;
}

.pesquisa_meio button {
    padding: 7px 15px;
    border: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-weight: bold;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
}

.pesquisa_meio button:hover {
    background-color: #5f5f5f;
}

.clear {
    flex-basis: 100%;
    height: 0;
}

/* Menu inferior */
.menu_inferior {
    background-color: #5f5f5f;
}

.menu_inferior nav.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu_inferior nav.menu ul li {
    margin: 0 25px;
}

.menu_inferior nav.menu ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 10px;
    font-weight: 600;
    font-size: 15px;
}

.menu_inferior nav.menu ul li a:hover {
    color: #000000;
}

/* Banner inicial */
.banner_inicial {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.banner_inicial .promocao img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.banner_inicial .promocao h1 {
    text-align: center;
    margin: 15px 0;
    color: #555;
} 

.banner_inicial .promocao h2 {
    text-align: center;
    margin: 15px 0;
    color: #000000;
}

.banner_inicial .destaques {
    margin-top: 40px;
}

.banner_inicial .destaques img {
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 12px rgba(0,0,0,0.1);
    max-width: 100%;
    height: auto;
    cursor: pointer;
}


.banner_inicial .destaques h2 {
    max-width: 700px;
    margin: 20px auto 0 auto;
    font-weight: 500;
    color: #000000;
}

/* Baneer promoções */
.banner_inicial .promocoes {
    margin-top: 40px;
}

.banner_inicial .promocoes h1 {
    color: #555;
    margin-bottom: 20px;
    font-weight: 700;
}

.banner_inicial .promocoes img {
    margin: 12px;
    border-radius: 8px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

/* Banner princiapl */
.banner-principal {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto 40px auto;
    text-align: center;
}

.banner-principal img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.banner-principal h2 {
  text-align: center;
    margin: 15px 0;
    color: #555;
}

/* Linha de produtos */
.linha-produtos {
    max-width: 1200px;
    margin: 50px auto 50px auto;
    padding: 0 20px;
}

.título-seção {
    color: #000000;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
}

.produtos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

/* Produtos*/
.produto {
    flex: 1 1 calc(25% - 20px);
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0);
    text-align: center;
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produto img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.produto p {
    margin: 10px 0 5px 0;
    font-size: 1rem;
    color: #444;
    flex-grow: 1;
}

.produto h3 {
    color: #ff0000;
    margin: 10px 0 15px 0;
    font-weight: 700;
}

.produto button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: auto;
}

.produto button:hover {
    background-color: #555;
}
/* Sobre */
.sobre{
    text-align: center;
    font-size: 18px;
    padding: 10px 20px;
}
.sobre h1 {
    font-family: 24px;
    margin-bottom: 10px;
}

.sobre p {
    margin-bottom: 20px;
}

/* Rodapé */
* {
    font-family: 'Inter', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    letter-spacing: 1px;
}

footer {
    width: 100%;
    color: #f5f5f5;
}

.link {
    text-decoration:none ;
}

#roda{
    background-color: #000000;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 48px 50px;
}

#contatos h1 {
    margin-bottom: 12px;
}

#rede_social {
    display: flex;
    gap: 32px;
    margin-top: 24px;
}

#rede_social .link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    color: #f5f5f5; 
    border-radius: 50%
}

#instagram {    
    background-color: #555;
}

#facebook {
    background-color: #555;
}

#whatsapp {
    background-color: #555;
}

.lista {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: none;

}

.lista .link {
    color: #a8a29e;
}

.lista .lista:hover {
    color: #7f37c9;
}

#sup {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#sup p {
    color: #a8a29e;
}

#grupo {
    display: flex;
    align-items: center;
    background-color: #444;
    border-radius: 4px;
}

#grupo input {
    padding: 12px;
    width: 100%;
}

#grupo button {
    background-color: #a8a29e;
    border: none;
    color: #f5f5f5;
    padding: 0px 20px;
    font-size: 18px;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
}